.cabecalho__menu {
    display: none;
}

.cabecalho__menu:checked + .cabecalho__menu-botao {
    background: var(--azul-degrade);
}

.cabecalho__menu:checked + .cabecalho__menu-botao > .cabecalho__menu-icone {
    content: url('../../img/Menu-Aberto.svg');
}

.cabecalho__menu-botao {
    align-items: center;
    cursor: pointer;
    display: flex;
    grid-area: menu;
    height: 100%;
    justify-content: center;
    width: 100%;
}

.cabecalho__menu-icone {
    background-image: url('../../img/Menu.svg');
    background-repeat: no-repeat;
    display: inline-block;
    height: 24px;
    width: 36px;
}


@media screen and (min-width: 1024px) {
    .cabecalho__menu-botao {
        display: none;
    }
}