.opcoes {
    display: none;
}

@media screen and (min-width: 1024px) {
    .opcoes {
        display: flex;
        grid-area: opcoes;
    }
}

@media screen and (min-width: 1728px) {
    .opcoes {
        justify-self: start;
        margin-left: 2.875rem;
    }    
}