.formulario__botao {
    align-self: center;
    background: var(--laranja);
    border: none;
    color: var(--branco);
    cursor: pointer;
    font-size: 1.25rem;
    font-weight: 700;
    line-height: 30px;
    max-width: 295px;
    padding: 1rem 0;
    width: 100%;
}

@media screen and (min-width: 1024px) {
    .formulario__botao {
        align-self: end;
    }
}