.formulario__input {
    border: 1px solid var(--azul);
    border-radius: 24px;
    font-family: var(--fonte-principal);
    padding: 0.625rem 1rem;
    width: 100%;
}

.formulario__input--erro {
    color: var(--vermelho);
    margin: 0.5rem 0 0 1rem;
}