@import url('../css/cabecalho/cabecalho.css');
@import url('../css/cabecalho/cabecalho-menu.css');
@import url('../css/cabecalho/cabecalho-logo.css');
@import url('../css/cabecalho/cabecalho-titulo.css');
@import url('../css/cabecalho/cabecalho-icone.css');
@import url('../css/cabecalho/opcoes.css');
@import url('../css/cabecalho/opcoes-item.css');

@import url('../css/menu/menu.css');
@import url('../css/menu/menu-titulo.css');
@import url('../css/menu/menu-lista.css');
@import url('../css/menu/menu-item.css');















/* @import url("../../styles/header.css"); */
@import url("../../styles/banner.css");
@import url("../../styles/formulario.css");
@import url("../../styles/rodape.css");
@import url("../../styles/cadastro.css");

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&display=swap');

:root {
    --cor-de-fundo: #EBECEE;

    --azul: #002F52;
    --azul-degrade: linear-gradient(97.54deg, #002F52 35.49%, #326589 165.37%);
    --branco: #FFFFFF;
    --cinza: #858585;
    --cinza-escuro: #474646;
    --laranja: #EB9B00;
    --preto: #000000;
    --vermelho: #D94937;

    --fonte-principal: 'Poppins', sans-serif;
    --fonte-secundaria: 'Josefin Sans';
}

* {
    box-sizing: border-box;
}

body {
    background-color: var(--branco);
    font-family: var(--fonte-principal);
}

a {
    color: var(--preto);
    text-decoration: none;
}

input {
	outline: none;
	border:none;
	background-image:none;
	background-color:transparent;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
}