@import url('../css/cabecalho/cabecalho.css');
@import url('../css/cabecalho/cabecalho-menu.css');
@import url('../css/cabecalho/cabecalho-logo.css');
@import url('../css/cabecalho/cabecalho-titulo.css');
@import url('../css/cabecalho/cabecalho-icone.css');
@import url('../css/cabecalho/opcoes.css');
@import url('../css/cabecalho/opcoes-item.css');

@import url('../css/menu/menu.css');
@import url('../css/menu/menu-titulo.css');
@import url('../css/menu/menu-lista.css');
@import url('../css/menu/menu-item.css');

@import url('../css/banner/banner.css');
@import url('../css/banner/banner-titulo.css');

@import url('../css/principal/principal.css');
@import url('../css/principal/principal-titulo.css');
@import url('../css/formulario/formulario.css');
@import url('../css/formulario/formulario-titulo.css');
@import url('../css/formulario/formulario-campo.css');
@import url('../css/formulario/formulario-campoDuplo.css');
@import url('../css/formulario/formulario-label.css');
@import url('../css/formulario/formulario-input.css');
@import url('../css/formulario/formulario-select.css');
@import url('../css/formulario/formulario-botao.css');

@import url('../css/rodape/rodape.css');
@import url('../css/rodape/rodape-titulo.css');
@import url('../css/rodape/listaRodape.css');
@import url('../css/rodape/listaRodape-titulo.css');
@import url('../css/rodape/listaRodape-item.css');
@import url('../css/rodape/listaRodape-imagem.css');
@import url('../css/rodape/listaRodape-link.css');

@import url("../../styles/cadastro.css");

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&display=swap');

:root {
    --cor-de-fundo: #EBECEE;

    --azul: #002F52;
    --azul-degrade: linear-gradient(97.54deg, #002F52 35.49%, #326589 165.37%);
    --branco: #FFFFFF;
    --cinza: #858585;
    --cinza-escuro: #474646;
    --laranja: #EB9B00;
    --preto: #000000;
    --vermelho: #D94937;

    --fonte-principal: 'Poppins', sans-serif;
    --fonte-secundaria: 'Josefin Sans';
}

* {
    box-sizing: border-box;
}

body {
    background-color: var(--branco);
    font-family: var(--fonte-principal);
}

a {
    color: var(--preto);
    text-decoration: none;
}

input {
	outline: none;
	border:none;
	background-image:none;
	background-color:transparent;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
}

hr {
    margin: 0;
}

/* .formulario__erro {
    display: flex;
    margin-top: 0.5rem;
    align-items: center;
}

.erro__imagem {
    width: 16px;
    height: 16px;
    margin: 0 .5em;
    background-image: url('../img/warning.png');
    background-repeat: no-repeat;
    background-size: contain;
}

.erro__texto {
    font-size: 0.75rem;
    line-height: 18px;
    color: var(--vermelho);
} */